<%= link_to "Events Dashboard", events_path %>
<h1><%= @event.name%></h1>
<h2>Host: <%= @host%></h2>
<h2>Date: <%= @event.date%></h2>
<h2>Location: <%= @event.city%>, <%= @event.state%></h2>
<p>People who joining the event: <%=@joins.count%></p>
<table>
	<thead>
		<tr>
			<td>Name:</td>
			<td>Location:</td>
			<td>State:</td>
		</tr>
	</thead>
	<tbody>
	<% @joins.each do |join|%>
		<tr>
			<td><%=@users.find(join.user_id).first_name%> <%= @users.find(join.user_id).last_name%></td>
			<td><%=@users.find(join.user_id).city%></td>
			<td><%=@users.find(join.user_id).state%></td>
		</tr>
	<% end%>	
	</tbody>
</table>

<div style="width: 700px; height: 200px; overflow: scroll; border: 1px solid gray; padding: 10px">
	<% @messages.each do |message|%>
	<p><%= @users.find(message.user_id).first_name%>: <%= message.content%></p>
	<% end%>
</div>
<h3>Add Comments:</h3>
<form action='/messages' method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type='hidden' name='event_id' value="<%=@event.id%>">
	<textarea name='content'></textarea>
	<button>Submit Comments</button>
</form>
